@import '@api/util';

.desktop-main {
  background-color: black;
  width: 100vw;
  height: 100vh;
  padding-bottom: v(48px);
  position: relative;
  &::before {
    position: absolute;
    inset: 0 0 0 0;
    content: '';
    background: var(--wp, url('/assets/Web/4k/Wallpapers/default.jpg'));
    background-repeat: var(--wp-repeat, no-repeat);
    background-position: var(--wp-position, center);
    background-size: var(--wp--attachment, cover);
  }
}

.not-windows-version {
  text-align: right;
  position: fixed;
  inset: auto v(4px) v(48px) auto;
  padding-bottom: v(4px);
  padding-left: v(4px);
  font-weight: 300;
  font-size: v(12px);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
