@import '@api/util';

.app-window {
  position: absolute;
  --header-height: 30px;
  max-width: 100%;
  max-height: calc(100% - v(var(--taskbar-height, 47px)));
  min-width: v(var(--window-min-width, 400px));
  min-height: v(var(--window-min-height, 300px));
  aspect-ratio: var(--window-aspect-ratio, auto);
  border-radius: v(8px);
  box-shadow: 0 0 0 0.5px rgb(128, 128, 128, 0.8), 0 8px 24px black;
  background: #212121;
  overflow: hidden;
  animation: opening forwards 0.1s;
  isolation: isolate;

  @include wp-transparent(center, var(--x, 0px), var(--y, 0px));

  .app-header,
  .app-frame {
    --scaling: var(--window-scaling, 1);
    font-size: v(12px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .app-header {
    height: v(var(--header-height, 30px));
    display: flex;
    max-width: 100%;
    gap: v(4px);
    opacity: 0.7;
    user-select: none;
    align-items: center;
  }

  .app-icon {
    width: v(16px);
    height: v(16px);
    margin-left: v(8px);
    pointer-events: none;
  }

  .app-name {
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
  }

  .actions {
    height: v(30px);
    align-self: baseline;
    display: flex;
    margin-left: auto;

    svg {
      width: v(10px);
      height: v(10px);
    }

    > div {
      height: inherit;
      display: flex;
      align-items: center;
      padding: 0 v(16px);
      &:hover {
        background: rgb(128, 128, 128, 0.4);
      }
    }

    .close:hover {
      background-color: red;
    }
  }

  &.maximized {
    --x: 0 !important;
    --y: 0 !important;
    animation: maxup forwards 0.15s;
    border-radius: 0;
    border: none;

    @keyframes maxup {
      25% {
        opacity: 0.2;
      }
      50% {
        width: 50%;
      }

      100% {
        opacity: 1;
        inset: 0 0 0 0;
        height: calc(100% - v(var(--taskbar-height, 47px)));
        width: 100%;
      }
    }
  }

  .app-frame {
    --scaling: var(--window-scaling, 1);
    width: 100%;
    height: calc(100% - v(var(--header-height, 30px)));
    overflow-y: auto;
    background-color: #303030;
  }

  &.closing {
    animation: closeWindow forwards 0.1s ease-out;
  }

  &.focused {
    z-index: 5;
    .app-header {
      opacity: 1;
    }
  }
}

.resize {
  position: absolute;

  &.resize-nw,
  &.resize-ne,
  &.resize-sw,
  &.resize-se {
    width: v(8px);
    height: v(8px);
  }

  &.resize-n,
  &.resize-ne,
  &.resize-nw {
    top: 0;
  }

  &.resize-s,
  &.resize-sw,
  &.resize-se {
    bottom: 0;
  }

  &.resize-n,
  &.resize-s {
    height: v(2px);
    left: 8px;
    right: 8px;
    cursor: ns-resize;
  }

  &.resize-e,
  &.resize-w {
    width: v(2px);
    top: 8px;
    bottom: 8px;
    cursor: ew-resize;
  }

  &.resize-ne,
  &.resize-se,
  &.resize-e {
    right: 0;
  }

  &.resize-nw,
  &.resize-se {
    cursor: nwse-resize;
  }

  &.resize-ne,
  &.resize-sw {
    cursor: nesw-resize;
  }

  &.resize-w,
  &.resize-nw,
  &.resize-sw {
    left: 0;
  }
}

@keyframes closeWindow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

@keyframes opening {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
