@import '@api/util.scss';

.w11-scroll {
  margin-right: v(4px);
  overflow: overlay !important;

  &:hover {
    &::-webkit-scrollbar {
      display: initial;
    }
  }

  &::-webkit-scrollbar {
    width: v(12px);
    height: v(12px);
    border-radius: 200px;
    display: none;

    &-corner,
    &-track {
      background-color: transparent;
    }

    &-thumb {
      background-color: #9ea0a4;
      background-clip: padding-box;
      border-radius: 0;
      border: v(5px) solid transparent;
      &:hover {
        border-radius: 999px;

        border: v(3px) solid transparent;
      }
      &:active {
        background-color: #9ea0a4;
      }
    }

    &:vertical,
    &:horizontal {
      background-size: v(10px);
      background-repeat: no-repeat;
      &:hover {
        background-color: #9ea0a43f;
      }
    }

    &:vertical {
      &:hover {
        background-image: url('/assets/icons/scrollbar-btn-down.svg'),
          url('/assets/icons/scrollbar-btn-up.svg');
        background-position: v(1px) calc(100% - v(4px)),
          v(1px) calc(0% + v(4px));
      }
    }

    &:horizontal {
      &:hover {
        background-image: url('/assets/icons/scrollbar-btn-left.svg'),
          url('/assets/icons/scrollbar-btn-right.svg');
        background-position: calc(0% + v(4px)) v(1px),
          calc(100% - v(4px)) v(1px);
      }
    }

    &-button:single-button {
      height: v(16px);
    }
  }

  &:hover::-webkit-scrollbar-thumb {
    display: block;
  }
}
